# Opening CSV files with Pandas and saving into a Dataframe

Use `pd.read_csv` to open files with a filepath or URL and save into a dataframe (df). 

Full documentation on `read_csv` is [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

### Reading a CSV file in your home directory

**Scenario:** Read and save a csv file containing data on domestic airlines "On Time Performance" in Australia into a Dataframe.

In [10]:
# import packages
import pandas as pd

# read the file and save to the Dataframe. Assumes file is in your home directory.
df = pd.read_csv('otptimeseriesweb.csv')

Use `DataFrame.head()` to get a peak of the first five rows to see if it has been imported and formatted correctly.

In [8]:
df.head()

,Route,Departing_Port,Arriving_Port,Airline,Month,Sectors_Scheduled,Sectors_Flown,Cancellations,Departures_On_Time,Arrivals_On_Time,Departures_Delayed,Arrivals_Delayed,Year,Month_Num
0,Adelaide-Brisbane,Adelaide,Brisbane,All Airlines,37987,155.0,155,0.0,123.0,120.0,32.0,35.0,2004,1
1,Adelaide-Canberra,Adelaide,Canberra,All Airlines,37987,75.0,75,0.0,72.0,72.0,3.0,3.0,2004,1
2,Adelaide-Gold Coast,Adelaide,Gold Coast,All Airlines,37987,40.0,40,0.0,36.0,35.0,4.0,5.0,2004,1
3,Adelaide-Melbourne,Adelaide,Melbourne,All Airlines,37987,550.0,548,2.0,478.0,487.0,70.0,61.0,2004,1
4,Adelaide-Perth,Adelaide,Perth,All Airlines,37987,191.0,191,0.0,169.0,168.0,22.0,23.0,2004,1

The output looks good. Notice that the columns have names (or headings/labels) and the rows have numbers. If you do not specify any row (or column) names then by default Pandas will assign row and/or column index numbers. Pandas uses zero-based indexing which means the first row is 0, the second row is 1, etc. This is important to know for referencing and indexing data.

### Data separators (or delimiters)

Note that the csv file has "comma separated values". By default, the `read_csv` assumes commas are used as delimiters by default. However, if you have a different separator such as a semi-colon, then you need to use:

In [ ]:
# Specify the separator (or delimiter)
df = pd.read_csv('otptimeseriesweb.csv', sep=';')

### Reading CSV files with a filepath

If your file is not in your home directory, you need to specify its file location as below:

In [ ]:
# Note the orientation of the filepath is '/'. It is not a '\'.
df = pd.read_csv('C:/Users/User1/datasets/otptimeseriesweb.csv')

### Reading CSV files with a URL
This is done the same way except you just specify the URL as below:

In [12]:
# Specify the URL
df = pd.read_csv('https://data.gov.au/dataset/29128ebd-dbaa-4ff5-8b86-d9f30de56452/resource/cf663ed1-0c5e-497f-aea9-e74bfda9cf44/download/otptimeseriesweb.csv')